@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background: #f7f7f9;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 30px;
}

.header-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
}

.only-mobile {
  display: none;
}

#headline-section {
  background: url("./Images/Header\ bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 71px;
  padding: 60px 20px 70px 15px;
  text-align: left;
  border-bottom-left-radius: 20%;
}

#headline-section h1 {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
}

#headline-section p {
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 15px;
  text-align: left;
}

.headline-text {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  margin-top: -20px;
  color: #344563;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding: 0 30px;
}

@media screen and (max-width: 365px) {
  #headline-section {
    background: url("./Images/header-shapes-mobile@2x.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
  }

  .only-mobile {
    display: block;
  }

  .only-desktop {
    display: none;
  }

  header {
    justify-content: space-between;
  }
}

.social-media-icons ul {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  padding-right: 14px;
  margin-top: -5px;
}

.social-media-icons li {
  list-style: none;
  padding-right: 20px;
}

.work-container {
  background: white;
  height: 500px;
  margin: 114px 24px 88px 24px;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
